<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
</nav>

<h5>Dashboard</h5>



<h6>{{ToDay | date : "mediumDate"}}</h6>
<div class="row">
  <div class="col-lg-3 pb-3" style="background-color: #e9e6e6">
    <div class="row">
      <div
        class="col-11 text-white text-center mx-auto rounded pt-2 pb-2 font-weight-bold"
        style="
          background-color: #678b82;
          font-family: 'Arial Narrow Bold', sans-serif;
        "
      >
        {{ Designation | uppercase }}
      </div>
      <div class="col-12 text-center mt-2">
        <img src="assets/ghassen.jpg" width="120px" />
      </div>
      <div
        class="col-12 text-center pt-2 pb-2 font-weight-bold"
        style="font-family: Tahoma font-size:20px"
      >
        {{ Username | uppercase }}
      </div>
      <div class="col-12 text-center pt-2 pb-2" style="font-family: Arial">
        Contacts
      </div>
      <div class="col-12 mb-3">
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
          <img src="assets/phone-call.png" width="20px" />
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 11px"
              >{{ PhoneNumber }}</span
            >
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center" style="font-size: 15px"
          >
          <img src="assets/linkedin.png" width="20px" />
          <span
              class="badge badge-secondary badge-pill"
              style="font-size: 11px"
              >{{ Linkedin }} </span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center" style="font-size: 15px"
          >
          <img src="assets/github.png" width="20px" />
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 11px"
              >{{ Github }}</span
            >
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"style="font-size: 15px"
          >
          <img src="assets/mail.png" width="20px" />
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 11px"
              >{{ Mail }}</span
            >
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"style="font-size: 15px"
          >
          <img src="assets/home.png" width="20px" />
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 11px"
              >{{ Adress }}</span
            >
          </li>
          <li
          class="list-group-item d-flex justify-content-between align-items-center"style="font-size: 15px"
        >
        <img src="assets/skype.png" width="20px" />
        <span
            class="badge badge-secondary badge-pill"
            style="font-size: 11px"
            >{{ Skype }}</span
          >
        </li>

        </ul>
      </div>
      <div
        class="col-12 text-center pt-2 pb-2"
        style="font-family: 'Arial Narrow'"
      >
        LANGUAGES
      </div>
      <div class="col-12 mb-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let language of Languages">
            {{ language.name  }}
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" 
              [ngStyle]="{
                'width': language.experience + '%'
              }"
               aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-12 pt-0 pb-2" style="background-color: #e9e6e6">
        <div class="row mt-2">
          <div class="col-6 text-left">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
              >
              End of Study Internship
              </button>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  href="#"
                  *ngFor="let project of Projects"
                  onclick="return false" (click)="onProjectChange($event)"
                  >{{ project }}</a
                >
              </div>
            </div>
          </div>
          <div class="col-6 text-right">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
              >
                2021
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" *ngFor="let year of Years">
                  <span [ngSwitch]="year">
                    <span *ngSwitchCase = "'2021'" style="color: green;">
                      {{year}}
                    </span>
                    <span *ngSwitchCase = "'2020'" style="color: blue;">
                      {{year}}
                    </span>
                    <span *ngSwitchCase = "'2019'" style="color: red;">
                      {{year}}
                    </span>
                    <span *ngSwitchDefault style="color: black;">
                      {{year}}
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-11 mx-auto mt-1 text-white text-center pt-2 pb-2 mx-auto rounded font-weight-bold"
        style="background-color: #718d97; font-family: 'Arial Narrow'"
      >
        PROJECT BRIEFING
      </div>
      <div class="col-12">
        <table class="table table-borderless">
          <tr>
            <td>Project Name</td>
            <td>{{ ProjectName }}</td>
          </tr>
          <tr>
            <td>Date</td>
            <td>{{ ProjectDate}}</td>
          </tr>
          <tr>
            <td>Place</td>
            <td>{{ ProjectPlace}}</td>
          </tr>
        </table>
      </div>
      <div
        class="col-11 mx-auto mt-1 text-white text-center pt-2 pb-2 mx-2 rounded font-weight-bold"
        style="background-color: #718d97; font-family: 'Arial Narrow'"
      >
        SKILLS SUMMARY
      </div>
      <div class="col-12">
        <table class="table">
          <tr style="color: purple;">
            <th>Skill</th>
            <th>Progress</th>
            <th>Level</th>
          </tr>
          <tr *ngFor="let skill of Skills">
            <td style="width: 120px;">
              <b>{{ skill.Name }}</b>
            </td>
            <td style="width: 350px;">
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" 
                [ngStyle]="{
                  'width': skill.Level 
                }"
                 aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{skill.Level}}</div>
              </div>
            </td>
            <td style="width: 50px;">
              {{ skill.Level }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-3" style="background-color: #e9e6e6">
    <div class="row">
      <div
        class="col-11 mx-auto mt-1 text-white text-center pt-1 pb-2 mx-2 rounded font-weight-bold"
        style="background-color: #718d97; font-family: 'Arial Narrow'"
      >
        CERTIFICATES
      </div>
      <div class="col-lg-12 pt-2">
        <div class="accordion" id="accordion1">
          <div
            class="card"
            *ngFor="let teamMembersGroup of TeamMembers; let i = index"
          >
            <div class="card-header bg-secondary" id="card1">
              <h2 class="mb-0">
                <button
                  class="btn btn-link text-white"
                  type="button"
                  data-toggle="collapse"
                  [attr.data-target]="'#cardbody' + i"
                >
                  {{ teamMembersGroup.Name }}
                </button>
              </h2>
            </div>
            <div
              [id]="'cardbody' + i"
              class="collapse"
              data-parent="#accordion1"
              [ngClass]="(i==0)?'show':''"  
            >
              <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Skill</th>
                        <th>Level</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let member of teamMembersGroup.Members">
                        <td [style.color]="(member.Level1=='Average')? 'red': 'black'">{{ member.Skill }}</td>
                        <td>{{ member.Level1 }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#'+ teamMembersGroup.id">
                    Certificate
                  </button>
                  <div class="modal fade" [id]="teamMembersGroup.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" [id]="teamMembersGroup.id"> {{ teamMembersGroup.Name }} Certificate</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <img [src]="teamMembersGroup.Url" style="width: 30rem;">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
